*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --background-color: rgba(255,255,255,0.2);
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--background-color);
    gap: 30px;
    backdrop-filter: blur(15px);
}

.wrapper img{
    width: 380px;
    height: 380px;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
}

.title span{
    font-size: 19px;

    align-self: flex-end;
}

.control-time{
    position: relative;
}

.final-time{
    position: absolute;
    top: 0;
    right: 1px;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ctrl-vol{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

button, input[type='range']{
    cursor: pointer;
}

.ctrl-vol button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.ctrl-vol button span{
    font-size: 20px;
}

.controls button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.controls button:nth-child(3) span{
    font-size: 50px;
}

.controls .player{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.controls button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.timer, .volume{
    accent-color: black;
    width: 100%;
    height: 7px;
    background-color: black;
    border-radius: 10px;
}

.volume{
    width: 50%;
    height: 10px;
}

